body {
	padding: 0;
	margin: 0;
	line-height: 1;
	width: 100%;
	height: 100%;
	display: inline-block;
	background: #EBF1F7;
	background: linear-gradient(-180deg, #FFFFFF 0%, #EBF1F7 31%);
	font-family: ArialUnicodeMS;
	font-size: 14px;
	color: #858C98;
}

a,a:hover {
	color: #858C98;
	text-decoration: none;
}

*:focus {
    outline: 0;
}

.fl_l {
	float: left;
}

.fl_r {
	float: right;
}

#content {
	width: 1100px;
	margin: 0 auto;
	margin-top: 40px;
}

/* BAR */
#content > #header {
	position: relative;
}
#content > #header > .bar {
	margin-top: -33px;
}

/* Search bar */
#content > #header > .bar > .search {
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	border-radius: 30px;
	height: 40px;
	width: 250px;
	display: inline-block;
}
#content > #header > .bar > .search > form > input.text {
	margin: 8px;
	margin-left: 10px;
	padding: 5px;
	border: none;
}
#content > #header > .bar > .search > form > input.button {
	width: 40px;
	height: 40px;
	float: right;
	background: #5FA5E4;
	background: linear-gradient(-180deg, #6BB1F1 0%, #5FA5E4 100%);
	border-radius: 30px;
	border: none;
}

/* Logo */
#content > #header > .logo {
	font-size: 25px;
    color: #858C98;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

/* Right Button Bar */
#content > #header > .bar > .right-button {
	display: inline-block;
	right: 0;
    position: absolute;
}
#content > #header > .bar > .right-button > .button {
    width: 140px;
}

/* Top menu */
#content > .topmenu {
	margin-top: 15px;
	background: linear-gradient(-180deg, #6BB1F1 0%, #5FA5E4 100%);
	border-radius: 30px;
	height: 40px;
	display: table;
    width: 100%;
}
#content > .topmenu > a {
	line-height: 40px;
	position: relative;
    display: table-cell;
    text-align: center;
    color: #FFF;
    padding: 0 10px;
    width: 1px;
}
#content > .topmenu > a:before {
	content: " ";
    height: 40px;
    width: 1px;
    position: absolute;
    background: #4A90E2;
    right: 0;
}
#content > .topmenu > a:last-child:before {
	display: none;
}

/* Left Menu */
#content > .left-menu {
	margin-top: 15px;
	width: 280px;
	border-radius: 30px;
	background: #FFF;
}
#content > .left-menu > ul {
	padding: 0;
	margin: 0;
}
#content > .left-menu > ul > li {
	display: none;
}
#content > .left-menu > ul:hover > li {
	/*display: block;*/
}
#content > .left-menu > .main {
	text-align: center;
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #E5E5E5;
	transition: all 0.1s;
}
#content > .left-menu > .main:hover, #content > .left-menu > ul.main:hover > a {
	background: linear-gradient(-180deg, #6BB1F1 0%, #5FA5E4 100%);
	box-shadow: 0px 0px 20px 5px rgba(99,169,232,0.50);
	border-radius: 30px;
	color: #FFF;
	border-bottom: 1px solid rgba(0,0,0,0);
	margin: 0 -20px;
}
#content > .left-menu > .main:last-child{
	border-bottom: 0;
}
#content > .body {
	margin: 15px 0 0 15px;
	width: 805px;
}
#content > .body > .block {
	width: 100%;
    display: inline-block;
    margin-top: 50px;
}
#content > .body > .block:first-child {
	margin-top: 0;
}
#content > .body > .block > .title {
	text-align: center;
	font-size: 25px;
}
#content > .body > .block > .section {
	background: #FFFFFF;
    border-radius: 30px;
    width: 260px;
    margin: 8px 0 0 8px;
    height: 300px;
    float: left;
    transition: all 0.2s;
}
#content > .body > .block > .section:hover {
	background: linear-gradient(-180deg, #6BB1F1 0%, #5FA5E4 100%);
	box-shadow: 0px 0px 50px 15px rgba(99,169,232,0.78);
	height: 370px;
}
#content > .body > .block > .section > .img {
	text-align: center;
	padding: 10px 0 15px;
}
#content > .body > .block > .section > .img > img.img {
	width: 200px;
	transition: width 0.2s;
}
#content > .body > .block > .section:hover > .img > img.img {
	width: 150px;
}
#content > .body > .block > .section > .title {
	font-size: 18px;
	text-align: center;
}
#content > .body > .block > .section:hover > .title, #content > .body > .block > .section:hover > .desc {
	color: #FFF;
}
#content > .body > .block > .section > .desc {
	padding: 10px 0;
	font-size: 16px;
	text-align: center;
}
#content > .body > .block > .section:hover > .desc {
	font-size: 14px;
}
#content > .body > .block > .section > .desc > .more  {
	display: none;
	color: #FFF;
}
#content > .body > .block > .section:hover > .desc > .more {
	display: block;
}
#content > .body > .block > .section > .desc > .more > .buttons {
	margin-top: 10px;
}
#content > .body > .block > .section > .desc > .more > .buttons > .button {
	background: linear-gradient(-180deg, #FFFFFF 0%, #F4F4F4 100%);
	color: #859198;
	width: 30%;
	cursor: pointer;
}

#content > .body > .navigation {
	margin: 50px;
	text-align: center;
}
#content > .body > .navigation > span, #content > .body > .navigation > a {
	border-radius: 50%;
    width: 45px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    font-size: 16px;
    transition: all 0.2s;
}
#content > .body > .navigation > span {
	background: linear-gradient(-180deg, #6BB1F1 0%, #5FA5E4 100%);
	border: 1px solid rgba(99,169,232,0.50);
	font-size: 20px;
	color: #FFF;
}
#content > .body > .navigation > a:hover {
	background: #FFF;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 0 2px;
}

#content > .footer {
	border-top: 1px solid rgba(99,169,232,0.50);
    width: 100%;
    display: inline-block;
}
#content > .footer > .copyright {
	padding: 20px;
	font-weight: bold;
}
#content > .footer > .copyright > .red {
	color: red;
}

/* Button */
.button {
	background: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 30px;
    display: inline-block;
    padding: 12px;
    text-align: center;
    transition: all 0.2s;
}

.button:hover {
	background: #5FA5E4;
	background-image: linear-gradient(-180deg, #6BB1F1 0%, #5FA5E4 100%);
	color: #FFF;
}